.DS_Store
*.png
*.psd
/ffdropenc.app
/ffimgdrop.app
/source/ffdropenc.platypus
/source/ffimgdrop.platypus
/test
source/bin/.DS_Store
source/bin/qtfaststart/__init__.pyc
source/bin/qtfaststart/exceptions.pyc
source/bin/qtfaststart/processor.pyc
