.DS_Store
ffdropenc.app
ffdevenc.app
source/ffdropenc.platypus
source/ffimgdrop.platypus
source/graphics/legacy
test/
bin/.DS_Store
bin/qtfaststart/__init__.pyc
bin/qtfaststart/exceptions.pyc
bin/qtfaststart/processor.pyc
bin/ffmpeg
bin/ffprobe
bin/x264
bin/cocoaDialog.app/
source/graphics/dmg
ffdropenc.platypus
build/
*.mp4
Random_Shapes*
ffdropenc
local_*
*.mkv
src/bin
*.sublime*
.idea/
