.DS_Store
ffdropenc.app
ffdevenc.app
source/ffdropenc.platypus
source/ffimgdrop.platypus
source/graphics/legacy
test/
source/bin/.DS_Store
source/bin/qtfaststart/__init__.pyc
source/bin/qtfaststart/exceptions.pyc
source/bin/qtfaststart/processor.pyc
source/bin/ffmpeg
source/bin/ffprobe
source/bin/x264
source/graphics/dmg
ffdropenc.platypus
build/
extras/test-video/Random_Shapes_720x480.mp4
extras/test-video/Random_Shapes_1280x720/
extras/test-video/Random_Shapes_1920x1080.mp4
extras/test-video/Random_Shapes_4096x2160.mp4
ffdropenc
